{% extends 'layout.html' %}

{% block content %}
<div class="timeline">
    {% if user %}
    <div>
        <form action="/posts" id="post-form" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <textarea name="content" id="twit" maxlength="140"></textarea>
            </div>
            <div class="img-preview">
                <img src="" alt="미리보기" id="img-preview" width="250">
                <input type="hidden" id="img-url" name="url">
            </div>
            <div>
                <label id="img-label" for="img">사진 업로드</label>
                <input id="img" type="file">
                <button id="post-btn" type="submit" class="btn">포스팅</button>
            </div>
        </form>
    </div>
    {% endif %}
    <div class="twits">
        <form action="/hashtag" id="hashtag-form">
            <input type="text" name="hashtage" placeholder="태그 검색">
            <button class="btn">검색</button>
        </form><br>

        {% for post in posts %}
        <div class="twit" style="font-weight:bold;">
            <!-- 아이디 --> <!-- 닉네임 -->
            <input type="hidden" value="{{post.id}}" class="twit-id">
            <input type="hidden" value="{{post.UserId}}" class="twit-user-id">
            <div class="twit-author" style="font-family: Verdana;">{{post.id}} &nbsp;-&nbsp; {{post.User.nick}}
            </div>
            <!-- 팔로워 한사람 혹은 자기자신의 포스트에는 팔로우 버튼 미공개 -->
            {%if not followerIdList.includes(post.User.id) and post.User.id !== user.id%}
            <button class="twit-follow">팔로우하기</button><br><br>
            {%endif%}
            <!-- content -->
            <div class="twit-content">{{post.content}}</div>
            <!-- 이미지 -->
            {% if post.img %}
            <div class="twit-img"><img src="{{post.img}}"></div>
            {% endif%}
        </div><br>
        {% endfor%}
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    if(document.getElementById('img')){
        document.getElementById('img').addEventListener('change', (e)=>{
            const formData = new FormData();
            formData.append('img', e.target.files[0]);
            axios.post('/posts/img', formData)
            .then((res)=>{
                document.getElementById('img-url').value = res.data.url; // 히든태그에 url 대입
                document.getElementById('img-preview').src = res.data.url; // 미리보기 태그 src 대입
                document.getElementById('img-preview').style.display = 'inline'; // 미리보기 보이기
            })
            .catch((err)=>{
                console.error(err);
            });
        });
    }

    // class가 twit-follow인 요소를 모두 선택후 -> 그 태그들을 하나씩 tag에 전달하며 익명함수 실행
    document.querySelectorAll('.twit-follow').forEach(function(tag){
        // 현재 tag(class가 twit-follow인 요소)에 클릭 이벤트 함수 설정
        tag.addEventListener('click', function(){
            const myid = document.querySelector('#my-id'); // 로그인한 사람
            if(myid){ // 로그인한 상태로 myid가 존재할 때만
                const userId = tag.parentNode.querySelector('.twit-user-id').value; // 게시물의 작성자
                if(userId !== myid.value){ // 로그인 유저와 작성자가 같지 않다면 실행
                    const answer = confirm('팔로우하시겠습니까?');
                    if(answer){
                        // 내가(로그인한 사람) 현재 게시물의 작성자를 팔로우
                        axios.post(`/user/${userId}/follow`).then(()=>{
                            location.reload();
                        }).catch((err)=>{
                            console.error(err);
                        });
                    }
                }
            }
        });
    });
</script>
{% endblock %}