{% extends 'layout.html' %}

{% block content %}
    <div>
        <form action="" id="post-form" method="post" enctype="multipart/form-data">
            <div class="input-group">
                <textarea name="content" id="post" maxlength="140"></textarea>
            </div>
            <!-- 이미지 미리보기 -->
            <div class="img-preview">
                <img src="" id="img-preview" style="display: none;" width="250" alt="미리보기">
                <input type="hidden" name="url" id="img-url">
            </div>
            <div>
                <label for="img" id="img-label">사진 업로드</label>
                <input type="file" id="img">
                <button id="post-btn" type="submit" class="btn">전송</button>
            </div>
        </form>
    </div>
    <table id="post-list">

    </table>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        document.getElementById('post-form').addEventListener('change', async (e)=>{
            e.preventDefault();
            const formData = new FormData();
            formData.append('image', e.target.img.files[0]);

            try{
                const result = await axiox.get('/saveimg', formData);
                const data = result.data;
                const img = data.image;
                document.getElementById('img-preview').src = `/${img}`;
            }catch(err){
                console.error(err);
            }
        });
    </script>
{% endblock %}