<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boardView</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>id</th>
                <td>{{boardView2.id}}</td>
            </tr>
            <tr>
                <th>subject</th>
                <td>{{boardView2.subject}}</td>
            </tr>
            <tr>
                <th>content</th>
                <td>{{boardView2.content}}</td>
            </tr>
            <tr>
                <th>readcount</th>
                <td>{{boardView2.readCount}}</td>
            </tr>
            <tr>
                <th>create_at</th>
                <td>{{boardView2.created_at}}</td>
            </tr>
            <tr>
                <th>writer</th>
                <td>{{luser.userid}}</td>
            </tr>
        </table>
    </div>
</body>
</html>