// 퍼그의 기본문법1 : < , > 이 태그에 쓰여지지 않습니다.
// 들여쓰기가 끝나는 곳에서 태그가 끝납니다.
doctype html
html   
    head
        title=title
        link(rel='stylesheet', href='/style.css')
    body
        // 한 줄에 내용까지 모두 작성한 태그는 줄이 바뀌면 태그가 끝납니다.
        h1 Welcome to #{title}
        // <h1>Welcome to... </h1>
        h2 Pug를 학습합니다.
        // <h2>Pug를 학습합니다.</h2>
        br
        hr
        // 태그이름을 쓰지 않고 #또는 .으로 시작할 때는, 그 이름으로 id, class를 지정한 div 태그가 생성됩니다.
        #login-id 아이디가 'login-id'인 div태그
        .login-pw 클래스가 'login-pw'인 div태그